{% extends 'base.html.twig' %} 

{% block title %}Profile{% endblock %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('assets/lib/css/font-awesome.min.css')}}">
{% endblock stylesheets %}

{% block favico %}
  <link rel="icon" type="image/x-icon" href="{{asset('assets/custom/ico/classregister.ico')}}" />
{% endblock favico %}

{% block body %}
<div class="container">
    <h4 class="well">Profile</h4>
	<div class="col-lg-12 well">
	<div class="row">
				<form action="{{ path('editprofile', {'page' : page, 'id' : profile.fkuser.iduser}) }}" method="post" name="useredit">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Name</label>
								<input id="name" name="name" value="{{profile.fkuser.name}}" type="text" placeholder="Enter name" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Surname</label>
								<input id="surname" name="surname" value="{{profile.fkuser.surname}}" type="text" placeholder="Enter surname" class="form-control">
							</div>
						</div>					
						<div class="row">
							<div class="col-sm-5 form-group">
								<label>Street</label>
								<input id="street" name="street" value="{{profile.fkaddress.street}}" type="text" placeholder="Enter street name" class="form-control">
							</div>	
							<div class="col-sm-2 form-group">
								<label>City</label><br/>
								<select name="city">
									{% for city in cities %}
										<option value="{{ city.idcity }}" 
											{% set isselected = '' %}
											{% if profile.fkaddress.fkcity.name == city.name %}
												{% set isselected = 'selected' %}
											{% endif %}
											{{ isselected }}>{{ city.name ~ " " ~ city.zipcode}}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-sm-5 form-group text-left">
								<label>Province</label><br/>
								<select name="province">
										{% for province in provinces %}
											<option value="{{ province.idprovince }}" 
												{% set isselected = '' %}
												{% if profile.fkaddress.fkcity.fkprovince.name == province.name %}
													{% set isselected = 'selected' %}
												{% endif %}
												{{ isselected }}>{{ province.name }}
											</option>
										{% endfor %}
								</select>
							</div>	
	
            </div>
            
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>Phone Number</label>
                <input id="phone" name="phone" value="{{profile.fkaddressDigital.fkphone.number}}" type="text" placeholder="Enter Phone Number Here.." class="form-control">
              </div>		
              <div class="col-sm-6 form-group">
                <label>Email Address</label>
                <input id="email" name="email" value="{{profile.fkaddressDigital.email}}" type="text" placeholder="Enter Email Address Here.." class="form-control">
              </div>
						</div>
						
          <button type="submit" class="btn btn-lg btn-info">Save changes</button>
					<a
						href="{{path('homepage', {'page' : page})}}"
						data-toggle="tooltip" 
						title="Return to manager page" 
						class="btn btn-lg btn-info">Cancel</a>	
					</div>
				</form> 
				</div>
	</div>
	</div>
{% endblock %}