<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />

        <title>
            {% block title %}User's manager{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets/lib/css/bootstrap.min.css')}}">
            <script src="{{asset('assets/lib/js/jquery.min.js')}}"></script>
            <script src="{{asset('assets/lib/js/bootstrap.min.js')}}"></script>
        {% endblock stylesheets %}

        {% block favico %}
            <link rel="icon" type="image/x-icon" href="{{asset('assets/custom/ico/fav.ico')}}" />
        {% endblock favico %}

        {% block javascripts %}
        {% endblock javascripts %}

    </head>

    <body>

        {% block body %}
        {% endblock %}

    </body>

</html>