{% extends 'base.html.twig' %} 

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('assets/lib/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{asset('assets/custom/css/mainpage.css')}}">
{% endblock stylesheets %}

{% block favico %}
  <link rel="icon" type="image/x-icon" href="{{asset('assets/custom/ico/classregister.ico')}}" />
{% endblock favico %}

{% block body %}

<div class="container top-margin">
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">

            <div class="col col-xs-3 text-left">
              <h4>User's Managment</h4>
            </div>

            <div class="col col-xs-9 text-right">
              <a href="/forms/user/add" data-toggle="tooltip" title="Add new user" class="btn btn-info" role="button">
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>                    
              </a>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list">
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Street</th>
                <th>Zip</th>
                <th>City</th>
                <th>Province</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% set ii = 1 %}
              {% for row in data %}
                <tr>
                    <td>{{page * rows + ii}}</td>
                    <td>{{row.fkuser.surname}}</td>
                    <td>{{row.fkuser.name}}</td>                                    
                    <td>{{row.fkaddress.street}}</td>
                    <td>{{row.fkaddress.fkcity.zipcode}}</td>
                    <td>{{row.fkaddress.fkcity.name}}</td>
                    <td>{{row.fkaddress.fkcity.fkprovince.name}}</td>
                    <td>{{row.fkaddressDigital.fkphone.number}}</td>
                    <td>{{row.fkaddressDigital.email}}</td>
                    <td align="center">
                      <a 
                      href="{{ path('userprofile', {'id' : row.fkuser.iduser, 'page' : page + 1 }) }}"
                      data-toggle="tooltip" title="Show profile" class="btn btn-success">
                        <em class="fa fa-eye"></em>
                      </a>
                      <a  href="{{ path('userdeleteprofile', {'id' : row.fkuser.iduser, 'page' : page + 1}) }}"
                      data-toggle="tooltip" title="Delete user" class="btn btn-danger">
                        <em class="fa fa-trash-o"></em>
                      </a>         
                    </td>             
                </tr>
                {% set ii = ii + 1 %}
              {% endfor %}

            </tbody>
          </table>

        </div>
        <div class="panel-footer">
            <div class="navigation text-center">
                {{ knp_pagination_render(data) }}
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}